In [26]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

In [27]:
# load dataset
df = pd.read_csv("female(imputed).csv")
df

,gender,match,samerace,age_o,field_cd,like_o,shar_o,sinc_o,race_o,intel_o,attr_o,amb_o,fun_o,age,race,imprace,imprelig,exphappy,career_c,dec_o
0,0,0,0,27,1,7.0,6.0,8.0,2,8.0,6.0,8.0,8.0,21,4,2,4,3,5.571248,0
1,0,0,0,22,1,8.0,5.0,8.0,2,10.0,7.0,7.0,7.0,21,4,2,4,3,5.571248,0
2,0,1,1,22,1,10.0,10.0,10.0,4,10.0,10.0,10.0,10.0,21,4,2,4,3,5.571248,1
3,0,1,0,23,1,7.0,8.0,8.0,2,9.0,7.0,9.0,8.0,21,4,2,4,3,5.571248,1
4,0,1,0,24,1,8.0,7.0,7.0,3,9.0,8.0,9.0,6.0,21,4,2,4,3,5.571248,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,0,0,0,30,5,5.0,1.0,10.0,2,8.0,1.0,8.0,1.0,22,4,1,1,8,9.000000,0
4070,0,0,0,28,5,4.0,6.0,7.0,2,7.0,4.0,7.0,7.0,22,4,1,1,8,9.000000,0
4071,0,0,0,30,5,5.0,2.0,7.0,2,6.0,4.0,6.0,3.0,22,4,1,1,8,9.000000,0
4072,0,0,0,27,5,7.0,6.0,9.0,1,9.0,4.0,7.0,7.0,22,4,1,1,8,9.000000,0
4073,0,0,0,25,5,4.0,1.0,7.0,2,6.0,3.0,8.0,4.0,22,4,1,1,8,9.000000,0

In [28]:
#split dataset in features and target variable
#feature_cols = ['match', 'samerace', 'age_o', 'attr_o','sinc_o','intel_o','fun_o','amb_o','shar_o','like_o','age','field_cd','imprace'
#               ,'imprelig', 'career_c']
feature_cols = df.iloc[1:, 1:19]
target_col = df.iloc[1:, -1]
X = feature_cols # Features
y = target_col # Target variable

In [29]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [30]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion = "entropy", splitter = "best", max_depth = 3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [31]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8306055646481179