In [37]:
import numpy as np
import pandas as pd


# Load data file
train_input = pd.read_csv('train_new.csv', delimiter=',')

In [38]:
train_input

,match,samerace,age_o,dec_o,field_cd,like_o,shar_o,sinc_o,race_o,intel_o,...,amb_o,fun_o,age,race,imprace,imprelig,exphappy,career_c,income,dec
0,0,0,27,0,1,7.0,6.0,8.0,2,8.0,...,8.0,8.0,21,4,2,4,3,NaN,37754.0,1
1,0,0,22,0,1,8.0,5.0,8.0,2,10.0,...,7.0,7.0,21,4,2,4,3,NaN,37754.0,1
2,1,1,22,1,1,10.0,10.0,10.0,4,10.0,...,10.0,10.0,21,4,2,4,3,NaN,37754.0,1
3,1,0,23,1,1,7.0,8.0,8.0,2,9.0,...,9.0,8.0,21,4,2,4,3,NaN,37754.0,1
4,1,0,24,1,1,8.0,7.0,7.0,3,9.0,...,9.0,6.0,21,4,2,4,3,NaN,37754.0,1
5,0,0,25,1,1,7.0,7.0,7.0,2,8.0,...,7.0,8.0,21,4,2,4,3,NaN,37754.0,0
6,0,0,30,0,1,2.0,7.0,6.0,2,7.0,...,8.0,5.0,21,4,2,4,3,NaN,37754.0,1
7,0,0,27,0,1,7.0,6.0,7.0,2,5.0,...,8.0,6.0,21,4,2,4,3,NaN,37754.0,0
8,1,0,28,1,1,6.5,9.0,7.0,2,8.0,...,8.0,8.0,21,4,2,4,3,NaN,37754.0,1
9,0,0,24,0,1,6.0,6.0,6.0,2,6.0,...,6.0,6.0,21,4,2,4,3,NaN,37754.0,1
10,0,1,27,0,1,7.0,4.0,7.0,2,6.0,...,7.0,9.0,24,2,2,5,4,NaN,86340.0,0
11,0,1,22,0,1,8.0,5.0,6.0,2,10.0,...,6.0,6.0,24,2,2,5,4,NaN,86340.0,0
12,0,0,22,1,1,10.0,10.0,10.0,4,10.0,...,10.0,10.0,24,2,2,5,4,NaN,86340.0,0
13,1,1,23,1,1,9.0,9.0,9.0,2,9.0,...,9.0,9.0,24,2,2,5,4,NaN,86340.0,1
14,0,0,24,1,1,10.0,8.0,10.0,3,10.0,...,7.0,10.0,24,2,2,5,4,NaN,86340.0,0
15,0,1,25,1,1,7.0,7.0,8.0,2,7.0,...,7.0,5.0,24,2,2,5,4,NaN,86340.0,0
16,0,1,30,0,1,4.0,3.0,3.0,2,4.0,...,5.0,3.0,24,2,2,5,4,NaN,86340.0,1
17,0,1,27,1,1,7.0,5.0,7.0,2,7.0,...,7.0,7.0,24,2,2,5,4,NaN,86340.0,0
18,1,1,28,1,1,8.0,7.0,6.0,2,9.0,...,8.0,9.0,24,2,2,5,4,NaN,86340.0,1
19,0,1,24,0,1,6.0,7.0,5.0,2,7.0,...,9.0,7.0,24,2,2,5,4,NaN,86340.0,1
20,0,1,27,0,2,5.0,4.0,8.0,2,6.0,...,8.0,5.0,25,2,8,4,4,NaN,60304.0,0
21,0,1,22,0,2,7.0,5.0,7.0,2,10.0,...,6.0,6.0,25,2,8,4,4,NaN,60304.0,0
22,0,0,22,1,2,10.0,10.0,10.0,4,10.0,...,10.0,10.0,25,2,8,4,4,NaN,60304.0,0
23,0,1,23,1,2,7.0,8.0,9.0,2,8.0,...,8.0,8.0,25,2,8,4,4,NaN,60304.0,0
24,0,0,24,1,2,6.0,NaN,10.0,3,8.0,...,NaN,6.0,25,2,8,4,4,NaN,60304.0,0
25,0,1,25,1,2,6.0,6.0,6.0,2,6.0,...,6.0,6.0,25,2,8,4,4,NaN,60304.0,0
26,0,1,30,0,2,2.0,4.0,3.0,2,5.0,...,5.0,4.0,25,2,8,4,4,NaN,60304.0,0
27,0,1,27,0,2,5.0,4.0,5.0,2,6.0,...,6.0,4.0,25,2,8,4,4,NaN,60304.0,0
28,0,1,28,1,2,7.0,7.0,7.0,2,6.0,...,7.0,8.0,25,2,8,4,4,NaN,60304.0,0
29,0,1,24,0,2,5.0,6.0,6.0,2,8.0,...,8.0,5.0,25,2,8,4,4,NaN,60304.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,0,0,22,0,8,5.0,3.0,9.0,2,7.0,...,5.0,3.0,27,1,2,1,3,7.0,NaN,1
8119,0,0,27,1,8,8.0,8.0,5.0,4,7.0,...,7.0,10.0,27,1,2,1,3,7.0,NaN,0
8120,0,0,25,1,8,6.0,7.0,9.0,4,8.0,...,7.0,6.0,27,1,2,1,3,7.0,NaN,0
8121,0,0,24,1,8,7.0,7.0,8.0,2,9.0,...,8.0,7.0,27,1,2,1,3,7.0,NaN,0
8122,0,0,26,1,8,8.0,8.0,5.0,3,8.0,...,9.0,6.0,27,1,2,1,3,7.0,NaN,0
8123,0,0,24,0,8,8.0,4.0,7.0,6,8.0,...,8.0,8.0,27,1,2,1,3,7.0,NaN,0
8124,0,0,29,1,8,6.0,5.0,7.0,3,7.0,...,6.0,6.0,27,1,2,1,3,7.0,NaN,0
8125,0,0,22,1,8,5.0,4.0,7.0,4,5.0,...,4.0,4.0,27,1,2,1,3,7.0,NaN,0
8126,0,0,22,0,8,5.0,6.0,8.0,4,7.0,...,6.0,6.0,27,1,2,1,3,7.0,NaN,0
8127,1,0,28,1,18,6.0,2.0,4.0,4,NaN,...,8.0,8.0,25,2,1,1,10,7.0,NaN,1
8128,1,0,26,1,18,9.0,NaN,9.0,3,9.0,...,7.0,8.0,25,2,1,1,10,7.0,NaN,1
8129,0,0,23,1,18,4.0,3.0,3.0,4,5.0,...,3.0,3.0,25,2,1,1,10,7.0,NaN,0
8130,1,1,23,1,18,7.0,6.0,6.0,2,7.0,...,6.0,7.0,25,2,1,1,10,7.0,NaN,1
8131,0,1,23,1,18,7.0,9.0,7.0,2,5.0,...,5.0,5.0,25,2,1,1,10,7.0,NaN,0
8132,1,1,23,1,18,7.0,7.0,7.0,2,8.0,...,7.0,7.0,25,2,1,1,10,7.0,NaN,1
8133,1,0,27,1,18,7.0,8.0,7.0,4,7.0,...,7.0,8.0,25,2,1,1,10,7.0,NaN,1
8134,0,0,30,0,18,3.0,5.0,5.0,3,4.0,...,6.0,3.0,25,2,1,1,10,7.0,NaN,1
8135,0,1,23,1,18,6.0,2.0,7.0,2,6.0,...,7.0,7.0,25,2,1,1,10,7.0,NaN,0
8136,0,1,26,0,18,NaN,NaN,NaN,2,NaN,...,NaN,NaN,25,2,1,1,10,7.0,NaN,0
8137,0,0,28,0,18,5.0,6.0,6.0,6,6.0,...,6.0,6.0,25,2,1,1,10,7.0,NaN,0
8138,0,1,26,1,18,7.0,6.0,7.0,2,7.0,...,8.0,8.0,25,2,1,1,10,7.0,NaN,0
8139,0,1,22,1,18,7.0,7.0,9.0,2,9.0,...,6.0,7.0,25,2,1,1,10,7.0,NaN,0
8140,0,0,27,1,18,7.0,3.0,2.0,4,6.0,...,8.0,5.0,25,2,1,1,10,7.0,NaN,0
8141,1,0,25,1,18,5.0,4.0,6.0,4,7.0,...,6.0,7.0,25,2,1,1,10,7.0,NaN,1
8142,0,1,24,0,18,7.0,6.0,8.0,2,7.0,...,8.0,7.0,25,2,1,1,10,7.0,NaN,0
8143,0,0,26,1,18,6.0,5.0,5.0,3,3.0,...,6.0,2.0,25,2,1,1,10,7.0,NaN,0
8144,0,0,24,0,18,2.0,2.0,3.0,6,7.0,...,7.0,3.0,25,2,1,1,10,7.0,NaN,0
8145,0,0,29,0,18,2.0,1.0,1.0,3,2.0,...,2.0,2.0,25,2,1,1,10,7.0,NaN,0
8146,0,0,22,1,18,6.0,6.0,7.0,4,5.0,...,3.0,5.0,25,2,1,1,10,7.0,NaN,0
8147,0,0,22,1,18,8.0,7.0,8.0,4,7.0,...,7.0,7.0,25,2,1,1,10,7.0,NaN,0

In [39]:
# Take out career_c and income for comparison

data = np.genfromtxt('train_new.csv', delimiter=',')
career = data[:, 18:19]
income = data[:, 19:20]

In [40]:
career

array([[nan],
       [nan],
       [nan],
       ...,
       [ 7.],
       [ 7.],
       [ 7.]])

In [ ]:
income

In [42]:
import math

data_new = None
count = 0
for i in range(len(np.asarray(career))):
    if math.isnan(np.asarray(income[i])) or math.isnan(np.asarray(income[i])):
        count+=1
print('Dataset length:', len(data)-1, 'missing values:', count)

Dataset length: 8148 missing values: 4644

In [43]:
# Take out the career_c and income whose column is na for regression
import pandas as pd

df = pd.read_csv('train_new.csv', delimiter=',')
# train_reg = df[pd.notnull(df[['match','samerace', 'age_o', 'dec_o', 'field_cd', 'like_o', 'shar_o', 'sinc_o', 'race_o', 'intel_o', 'attr_o', 'amb_o', 'fun_o', 'age', 'race', 'imprace', 'imprelig', 'exphappy', 'career_c', 'income', 'dec']])]
# train_reg = df[['career_c', 'income']]
train_reg = df.drop(df[df.gender > 0].index)
# train_reg = train_reg.dropna()
train_reg.to_csv('female.csv')

In [47]:
# Take out the career_c and income whose column is na for regression
import pandas as pd

df = pd.read_csv('train_new.csv', delimiter=',')
# train_reg = df[pd.notnull(df[['match','samerace', 'age_o', 'dec_o', 'field_cd', 'like_o', 'shar_o', 'sinc_o', 'race_o', 'intel_o', 'attr_o', 'amb_o', 'fun_o', 'age', 'race', 'imprace', 'imprelig', 'exphappy', 'career_c', 'income', 'dec']])]
# train_reg = df[['career_c', 'income']]
train_reg = df.drop(df[df.gender < 1].index)
# train_reg = train_reg.dropna()
train_reg.to_csv('male.csv')

In [48]:
len(train_reg)

4074

In [49]:
df = pd.read_csv('male.csv', delimiter=',')
male = df.dropna(subset=['income'])
male.to_csv('male_new.csv')

In [50]:
len(male)

1730

In [45]:
df = pd.read_csv('female.csv', delimiter=',')
female = df.dropna(subset=['income'])
female.to_csv('female_new.csv')

In [46]:
len(female)

1775

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers
import numpy as np

np.random.seed(10)


# read and divide data into test and train sets
admit_data = np.genfromtxt('train_reg.csv', delimiter=',')
X_data, Y_data = admit_data[1:, 1:2], admit_data[1:, -1]
Y_data = Y_data.reshape(Y_data.shape[0], 1)

idx = np.arange(X_data.shape[0])
np.random.shuffle(idx)
X_data, Y_data = X_data[idx], Y_data[idx]

X_data = (X_data - np.mean(X_data, axis=0)) / np.std(X_data, axis=0)

split = 0.7
# create train set
trainX = X_data[:int(X_data.shape[0] * split)]
trainY = Y_data[:int(Y_data.shape[0] * split)]

# create test set
testX = X_data[:int(X_data.shape[0] * split * -1)]
testY = Y_data[:int(Y_data.shape[0] * split * -1)]

# randomly choose 50 samples from test set
rand = np.random.choice(testX.shape[0], 50, replace=True)
testX = testX[rand]
testY = testY[rand]


# define the keras model
model = Sequential()
model.add(Dense(4, input_dim=1, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='mse', optimizer='adam')

model.fit(trainX, trainY, epochs=2000, verbose=1)

# make a prediction
predictions = model.predict(testX)

# summarize the first 10 cases
for i in range(10):
    print('%s predict: %d (expected %d)' % (testX[i].tolist(), predictions[i], testY[i]))

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
%matplotlib inline

# Regression training input
train_input = np.genfromtxt('train_reg.csv', delimiter=',')
X_data, Y_data = train_input[1:, 1:2], train_input[1:, -1]
Y_data = Y_data.reshape(Y_data.shape[0], 1)
idx = np.arange(X_data.shape[0])
np.random.shuffle(idx)
X_data, Y_data = X_data[idx], Y_data[idx]
X_data = (X_data- np.mean(X_data, axis=0))/ np.std(X_data, axis=0)

trainX, testX, trainY, testY = train_test_split(trainX, trainY, test_size=0.3, shuffle=True)

regr = linear_model.LinearRegression()
regr.fit(trainX, trainY)
predict_income = regr.predict(testX)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(testY, predict_income))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(testY, predict_income))

# Plot outputs
plt.scatter(testX, testY,  color='black')
plt.plot(testX, predict_income, color='blue', linewidth=3)

plt.xticks(())
plt.yticks(())

plt.show()

In [ ]:
len(df)